@import url("https://fonts.googleapis.com/css?family=Permanent+Marker");
@import url("https://fonts.googleapis.com/css?family=Varela+Round");

#app {
    min-height: 100vh;
}

body {
  font-family: "Varela Round", sans-serif;
  font-size: $font-size;
  line-height: 1.65;
  color: #373F49;
  background: #eee;
  margin: 0;
  .layout {
    display: grid;
    height: 100vh;
    -ms-grid-columns: auto;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 2fr 1fr;
    grid-gap: $global-spacer * 2;
    padding: 0 $global-spacer * 2;
    grid-template-areas: 
      "header header header header"
      ". main main ."
      "footer footer footer footer";
    
    @media screen and (max-width: $tablet) {
        grid-template-areas: 
          "header header header header"
          "main main main main"
          "footer footer footer footer";
      }

    h1 {
      font-size: $h1;
      @media screen and (max-width: $tablet) {
        font-size: $h4;
      }
    }
    h2 {
      font-size: $h2;
      @media screen and (max-width: $tablet) {
        font-size: $h5;
      }
    }
    h3 {
      font-size: $h3;
      @media screen and (max-width: $tablet) {
        font-size: $h6;
      }
    }
    h4 {
      font-size: $h4;
      @media screen and (max-width: $tablet) {
        font-size: $font-size * 1.25
      }
    }
    h5 {
      font-size: $h5;
      @media screen and (max-width: $tablet) {
        font-size: $font-size * 1.15
      }
    }
    h6 {
      font-size: $h6;
      @media screen and (max-width: $tablet) {
        font-size: $font-size * 1.05
      }
    }

    pre {
      white-space: pre-wrap;
    }
    
    img {
      display: block;
      width: 100%;
    }

    a {
      color: currentColor;
      text-decoration: none;
    }

    .wrapper {
      grid-area: main;
      width: calc(100% - 10vmin);
      margin: 0 auto;
      padding: 5vmin 0;
      display: grid;
    }

    /**
    * article grid
    */
    .article-list {
      margin: 0;
      padding: 0;
      list-style: none;
      display: grid;
      grid-gap: 5vmin; 
    }

    /**
    *
    */
    .section-headline {
      padding: 0 0 0.4em 0;
      margin: 0 0 5vmin 0;
      border-bottom: 1px solid #ddd;
    }

    .list-inline {
      margin: 0;
      padding: 0;
      list-style: none;
    }

    .list-inline li {
      display: inline-block;
    }
  }
}
