.header {
  grid-area: header;
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: $global-spacer;
  .header__image {
    display: flex;
    justify-content: center;
    border-radius: 48%;
    overflow: hidden;
    justify-content: center;
    height: 100px;
    width: 100px;
    margin-right: $global-spacer * 3;
  }
  h1 {
    margin-right: auto;
  }
  a {
    text-decoration: none;
    font-size: 20px;
    grid-area: nav;
    margin: 0 .5em;
  }
}

@media screen and (max-width: 780px) {
  .header h1 {
    font-size: 1.25rem;
  }
}