.header {
  grid-area: header;
  width: 100%;
  display: grid;
  grid-template-areas:
    "nav . . ."
    "search search search search"
    "tags tags tags tags";
  justify-self: center;
  grid-row-gap: .5em;
  align-items: center;
  a {
    text-decoration: none;
    font-size: 20px;
    grid-area: nav;
  }
}

@media screen and (max-width: 780px) {
  .header h1 {
    font-size: 1.25rem;
  }
}