.header {
  grid-area: header;
  width: 100%;
  display: grid;
  grid-template-areas:
      "pic pic pic pic"
      "bio bio bio bio"
      "search search search search" 
      "tags tags tags tags";
  @include for-tablet {
    grid-template-areas:
      ". pic bio ." 
      "search search search search" 
      "tags tags tags tags"; 
  }
  grid-row-gap: .5em;
  align-items: center;
  padding-top: $global-spacer;
  .header__image--container {
    grid-area: pic;
    display: flex;
    justify-content: center;
    @include for-tablet {
      justify-content: flex-end;
    }
    .header__image {
      border-radius: 48%;
      overflow: hidden;
      justify-content: center;
      width: 120px;
      margin-right: $global-spacer;
    }
  }
  .header__bio {
    justify-content: center;
    grid-area: bio;
    h1, p {
      text-align: center;
    }
  }
  a {
    text-decoration: none;
    font-size: 20px;
    grid-area: nav;
  }
}

@media screen and (max-width: 780px) {
  .header h1 {
    font-size: 1.25rem;
  }
}