// fonts
$font-size: .75em; // 12px
$blog-font: 16px;
$blog-font-small: 14px;
$paragraph: $font-size;
$h1: $font-size * 2.75; // 32px
$h2: $font-size * 2.5;
$h3: $font-size * 2.25;
$h4: $font-size * 2;
$h5: $font-size * 1.75;
$h6: $font-size * 1.5;

// device widths
$tablet: 780px;
$desktop: 1024px;
$monitor: 1400px;

// Margins & Padding
$global-spacer: .5em;

// page specific
$home-header-width: 25%;
$home-header-padding: $global-spacer * 4;

// blog home page
$blog-container-width-mobile: 300px;
$blog-container-width-tablet: 770px;
$blog-container-width-desktop: 1000px;
$blog-container-width-monitor: 1200px;