@import "variables";
@import "mixins";
@import "base";
@import "header";
@import "footer";

#app {
  // doing this b/c side nav is fixed
  min-height: 100vh;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  ul {
    padding: 0;
  }
  li {
    list-style-type: none;
  }
  a {
    text-decoration: none;
  }
}