# Use the latest 2.1 version of CircleCI pipeline processing engine, see https://circleci.com/docs/2.0/configuration-reference/
version: 2
jobs:
  build:
    docker:
      - image: "nikolaik/python-nodejs"
    steps:
      - checkout
      - run:
          name: "install dependencies"
          command: "npm install"
      - run:
          name: "build code"
          command: "npm run build"
      - run:
          name: "install the awscli"
          command: "pip install awscli"
      - run:
          name: "upload the build files using aws cli"
          command: "aws s3 sync ./public s3://maxwellkendall.com --profile default --region us-east-1 --acl public-read"
      - run:
          name: "invalidate cache"
          command: "aws cloudfront create-invalidation --distribution-id $S3_DISTRIBUTION_ID \
            --paths /'*'"
workflows:
  version: 2
  build_and_deploy:
    jobs:
      - build:
          filters:
            branches:
              only: master
