.home__container {
  padding: $global-spacer * 4;
  .vertical-timeline-element-icon {
    overflow: hidden;
  }
  .experience__explorer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .experience__explorer__header {
      display: flex;
      justify-content: center;
      align-items: center;
      svg:first-of-type { 
        padding-right: $global-spacer * 2;
      }
    }
  }
}