.nav {
  display: flex;
  position: fixed;
  background: darkolivegreen;
  top: 0;
  bottom: 0;
  left: 0;
  flex-direction: column;
  padding: $home-header-padding;
  // width: $home-header-width;
  align-items: center;
  .nav__img-chs {
      position: absolute;
      width: 100%;
      top: 0;
      bottom: 0;
      z-index: 1;
      opacity: 0.4;
  }
  .nav__img-headshot {
      width: 150px;
      height: 160px;
      margin-top: $global-spacer * 3;
      border-radius: 50%;
  }

  h1,
  h2,
  span,
  a {
    color: white;
  }

  h1,
  h2,
  span,
  .nav__links,
  .nav__img-headshot {
      z-index: 2;
  }

  .nav__links {
    padding: 0;
    display: flex;
    margin-top: 0;
    align-items: center;
    flex-direction: row;

      .nav__item {
          padding: 0 $global-spacer * 2;
      }
  }
}

.mobileNav {
  padding: 0;
  margin: 0;
  top: 0;
  border: 1px solid green;
  background: green;
  -webkit-box-shadow: 0px 3px 10px 2px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 3px 10px 2px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.75);
  .nav__links {
    display: flex;
    .nav__item {
      a {
        color: white;
        padding: 0 $global-spacer * 4;
      }
      &:first-of-type {
        margin-right: auto;
      }
    }
  }
}