.nav {
  display: flex;
  position: fixed;
  background: darkolivegreen;
  top: 0;
  bottom: 0;
  left: 0;
  flex-direction: column;
  padding: $home-header-padding;
  width: $home-header-width;
  align-items: center;
  .nav__img-chs {
      position: absolute;
      width: 100%;
      top: 0;
      bottom: 0;
      z-index: 1;
      opacity: 0.4;
  }
  .nav__img-headshot {
      width: 150px;
      height: 160px;
      margin-top: $global-spacer * 3;
      border-radius: 50%;
  }

  h1,
  h2,
  span,
  a {
    color: white;
  }

  h1,
  h2,
  span,
  .nav__links,
  .nav__img-headshot {
      z-index: 2;
  }

  .nav__links {
    padding: 0;
    display: flex;
    margin-top: 0;
    align-items: center;
    flex-direction: row;

      .nav__item {
          padding: 0 $global-spacer * 2;
      }
  }
}