.nav {
    display: flex;
    position: fixed;
    background: darkolivegreen;
    top: 0;
    bottom: 0;
    left: 0;
    flex-direction: column;
    padding: 2em;
    width: 25%;
    align-items: center;
    .nav__img-1 {
        position: absolute;
        width: 100%;
        top: 0;
        bottom: 0;
        z-index: 1;
        opacity: 0.4;
    }
    .nav__img-2 {
        width: 150px;
        height: 160px;
        margin-top: $global-spacer * 3;
        border-radius: 50%;
    }
    h1, .nav__links, .nav__img-2 {
        z-index: 2;
    }
    .nav__links {
        padding: 0;
        display: flex;
        align-items: center;
        flex-direction: column;

        .nav__item {
            list-style: none;
            padding: 0 $global-spacer * 2;
            a {
                text-decoration: none;
                color: white;
            }
        }
    }
}
