.header {
  grid-area: header;
  justify-self: center
}

.header h1 {
  font-size: 1.75rem;
  margin: 1em 0 0 .25em;
}

.logo {
  width: 100px;
}

@media screen and (max-width: 780px) {
  .header h1 {
    font-size: 1.25rem;
  }
}