.search {
  margin: auto;
  grid-area: search;
}
.search__input {
  padding: .75rem;
  border-radius: .25rem;
  border: none;
}

.search input::-webkit-calendar-picker-indicator {
  display: none;
}

.search__options {
  -webkit-appearance: none;
}