.wrapper {
  grid-area: tags;
  display: flex;
  max-width: 44em;
  justify-self: center;
  align-items: center;
}

.header {
  margin-right: .5em;
}

.tags {
  display: flex;
  padding: 0;
  flex-wrap: wrap;
}

.tag {
  list-style: none;
  padding: .5em;
  background: white;
  margin: .1em .25em;
  border-radius: 0.25em;
}

.tag a {
  padding: .5em;
}

.activeTag {
  background: black;
  color: white;
}

.tag:hover {
  cursor: pointer;
}

@media screen and (max-width: 780px) {
  .wrapper {
    flex-direction: column;
  }
  .header {
    margin: 0;
    text-align: center;
  }
  .tags {
    margin: 0 1em;
  }
}
