.article-preview {
  text-align: center;
  width: 100%;
  @include for-tablet {
    width: 33%;
  }
  .preview-title {
    font-size: 1.5em;
    text-align: center;
  }

  .preview-tags-date {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .tag {
    color: #A0A0A0;
    text-decoration: none;
    display: inline-block;
    padding: .33333rem .5rem;
    line-height: 1;
    border-radius: 2px;
    border: 1px solid #A0A0A0;
    margin-right: .5em;
  }
}

.article-preview__wide {
  width: 100%;
  @include for-tablet {
    width: 100%;
  }
}

@media screen and (max-width: 780px) {
  .preview {
    height: 25em;
  }
  .wrapper {
    margin: 0 1em;
  }
}