$width-offset: calc($global-spacer * 2 + $global-spacer);

.article-preview {
  text-align: center;
  width: 100%;
  min-height: 10vh;
  padding: $global-spacer * 2;
  color: black;
  background: white;
  border-radius: 2em;
  margin: 0 2px;
  &:hover {
    background: #eee;
  }
  @include for-device($tablet) {
    width: calc(37% - 28px);
    border-radius: 2em;
  }
  .preview-title {
    font-size: 1.5em;
    text-align: center;
  }

  .preview-tags-date {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    small {
      font-size: 12px;
    }
  }

  .tag {
    color: #A0A0A0;
    text-decoration: none;
    display: inline-block;
    padding: .33333rem .5rem;
    line-height: 1;
    border-radius: 2px;
    border: 1px solid #A0A0A0;
    margin-right: .5em;
  }
}

.article-preview__wide {
  min-height: 20vh;
  padding: 1em;
  color: black;
  border: 5px solid #eee;
  border-radius: 2em;
  width: 75%;
}

@media screen and (max-width: 780px) {
  .preview {
    height: 25em;
  }
  .wrapper {
    margin: 0 1em;
  }
}