.hero {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 12.5em;
  background: #e1e1e1;
  margin: -1em -2.5em 1em;
  font-size: 2em
}

.blogpost__wrapper {
  grid-area: main;
  margin: 0 2em;
  padding: 0 4em;
}

@media screen and (max-width: 780px) {
  .blogpost__wrapper {
    margin: 0 1em;
    padding: 0 .5em;
  }
}

.blogpost__postheader {
  border-bottom: 2px solid black;
  text-align: center;
}

.blogpost__post {
  padding-bottom: 2em;
}

@media screen and (max-width: 780px) {
  .blogpost__postheader {
    margin: 0 1em;
  }

  .blogpost__wrapper {
    margin: 0 .25em;
  }
}
