.search {
  margin: auto;
  width: 100%;
  grid-area: search;
  display: flex;
  justify-content: center;
  .search__input {
    padding: .75rem;
    border-radius: .25rem;
    border: none;
    width: 20em;
  }
  
  .search input::-webkit-calendar-picker-indicator {
    display: none;
  }
  
  .search__options {
    -webkit-appearance: none;
  }
}
